<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.reawei.api.mapper.RwDocumentMapper" >
  <resultMap id="BaseResultMap" type="cn.reawei.api.model.RwDocument" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="click_rate" property="clickRate" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
    <result column="contents" property="contents" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, author, click_rate, create_time, modify_time, description, contents
  </sql>

  <sql id="pagination">
    <if test="start!=null ">
      <![CDATA[ limit #{start}, #{limit}]]>
    </if>
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from rw_document
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from rw_document
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.reawei.api.model.RwDocument" >
    insert into rw_document (id, title, author, 
      click_rate, create_time, modify_time, 
      description, contents)
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{clickRate,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{description,jdbcType=LONGVARCHAR}, #{contents,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.reawei.api.model.RwDocument" >
    insert into rw_document
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="clickRate != null" >
        click_rate,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="contents != null" >
        contents,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="clickRate != null" >
        #{clickRate,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="contents != null" >
        #{contents,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.reawei.api.model.RwDocument" >
    update rw_document
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="clickRate != null" >
        click_rate = #{clickRate,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="contents != null" >
        contents = #{contents,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.reawei.api.model.RwDocument" >
    update rw_document
    set title = #{title,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      click_rate = #{clickRate,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=LONGVARCHAR},
      contents = #{contents,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectResultByQuery" resultMap="BaseResultMap" parameterType="cn.reawei.common.page.Query">
    select
    <include refid="Base_Column_List"/>
    from
    rw_document
    where
    1=1
    <if test="queryObject != null and queryObject.id != null" >
      and id = #{queryObject.id,jdbcType=BIGINT}
    </if>
    <if test="queryObject != null and queryObject.title != null" >
      and title = #{queryObject.title,jdbcType=VARCHAR}
    </if>
    <if test="queryObject != null and queryObject.author != null" >
      and author = #{queryObject.author,jdbcType=VARCHAR}
    </if>
    <if test="queryObject != null and queryObject.clickRate != null" >
      and click_rate =  #{queryObject.clickRate,jdbcType=INTEGER}
    </if>
    <if test="queryObject != null and queryObject.createTime != null" >
      and create_time = #{queryObject.createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="queryObject != null and queryObject.modifyTime != null" >
      and modify_time = #{queryObject.modifyTime,jdbcType=TIMESTAMP}
    </if>
    <if test="queryObject != null and queryObject.description != null" >
      and description = #{queryObject.description,jdbcType=LONGVARCHAR}
    </if>
    <if test="queryObject != null and queryObject.contents != null" >
      and contents = #{queryObject.contents,jdbcType=LONGVARCHAR}
    </if>
    <if test="orderBy !=null and orderBy.toOrderBy != null">
      order by ${orderBy.toOrderBy}
    </if>
    <include refid="pagination"/>
  </select>

  <select id="countResultByQuery" resultType="java.lang.Integer" parameterType="cn.reawei.common.page.Query">
    select
    COUNT(1)
    from
    rw_document
    where
    1=1
    <if test="queryObject != null and queryObject.id != null" >
      and id = #{queryObject.id,jdbcType=BIGINT}
    </if>
    <if test="queryObject != null and queryObject.title != null" >
      and title = #{queryObject.title,jdbcType=VARCHAR}
    </if>
    <if test="queryObject != null and queryObject.author != null" >
      and author = #{queryObject.author,jdbcType=VARCHAR}
    </if>
    <if test="queryObject != null and queryObject.clickRate != null" >
      and click_rate =  #{queryObject.clickRate,jdbcType=INTEGER}
    </if>
    <if test="queryObject != null and queryObject.createTime != null" >
      and create_time = #{queryObject.createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="queryObject != null and queryObject.modifyTime != null" >
      and modify_time = #{queryObject.modifyTime,jdbcType=TIMESTAMP}
    </if>
    <if test="queryObject != null and queryObject.description != null" >
      and description = #{queryObject.description,jdbcType=LONGVARCHAR}
    </if>
    <if test="queryObject != null and queryObject.contents != null" >
      and contents = #{queryObject.contents,jdbcType=LONGVARCHAR}
    </if>
  </select>
</mapper>